{# Layout declaration #}
{% extends "layouts/base.njk" %}

{% block head %}

  <link rel="stylesheet" href="/static/css/partials/wip.css">

{% endblock %}

{# Page content #}
{% block content %}

  <h2>Getting Started</h2>
  {% include "partials/wip.njk" %}
  

{% endblock %}