{# Layout declaration #}
{% extends "layouts/base.njk" %}

{% block head %}

  <link rel="stylesheet" href="/static/css/partials/hero.css">
  <link rel="stylesheet" href="/static/css/partials/disclaimer.css">

{% endblock %}

{# Page content #}
{% block content %}
  {% include "partials/hero.njk" %}
  {% include "partials/disclaimer.njk" %}
  <h2>Introduction</h2>
  <p>Veronica is a lightweight Java framework designed to develop REST APIs and web applications. It comprises many features that aim to provide a smooth development process and empower developers to fully unleash their creativity. Every single component of the framework was designed around the following three principles:
  </p>
  <ul>
    <li>
      <h4>Fast</h4><br>
      Veronica is designed to add minimum overhead to your application, in order to keep your codebase as lightweight as possible. This means that Veronica is <b>fast</b> to integrate in your projects, <b>fast</b> to deploy and keeps your application running <b>fast</b>.
    </li>
    <li>
      <h4>Elegant</h4><br>
      Veronica aims to keep your code readable, providing a well-organized and clearly named set of components, facilitating the learning process and allowing for an enjoyable coding experience. All of its features are designed to be intuitive, so that you never have to go back to read the documentation a second time.
    </li>
    <li>
      <h4>Versatile</h4><br>
      Veronica is designed to be flexible, in order to adapt to your application's needs. Veronica does not force you to structure your code in any particular way, enabling developers to keep their ideas at the core of the application design. Moreover, all components of Veronica are designed to be extended and customized with relative ease.
    </li>
  </ul>
{% endblock %}