<div id="disclaimer">
  <h2>Disclaimer</h2>
  Veronica is still in the early stages of its development and is missing proper documentation and testing. Please refer to the <a href="https://github.com/GioAc96/Veronica/tree/master/src/test/java/org/gioac96/veronica/samples">samples</a> to to have a small preview of Veronica's capabilities.
</div>