<div id="disclaimer">
  <h2>Disclaimer</h2>
  Veronica is still in the early stages of its development and is missing proper documentation and testing. You can download Veronica's Source code from <a href="https://github.com/GioAc96/Veronica/releases">the framework's GitHub page</a>. Please refer to the <a href="https://github.com/GioAc96/Veronica/tree/master/src/test/java/org/gioac96/veronica/samples">samples</a> to to have a small preview of Veronica's capabilities.
</div>