<aside id="left-pane">
  <img id="v" src="/static/images/logo/v.svg" alt="Veronica">
  <h2>Table of Contents</h2>
  <div id="table-of-contents">
    <ol>
      <li>
        <a href="/" class="nolink">Introduction</a>
      </li>
      <li>
        <a href="/basic-concepts.html" class="nolink">Basic Concepts</a>
        <ol>
          <li>
            <a href="/basic-concepts.html#the-application-structure" class="nolink">The application structure</a>
          </li>
          <li><a href="/basic-concepts.html#the-request-pipeline" class="nolink">The request pipeline</a></li>
          <li><a href="/basic-concepts.html#routing" class="nolink">Routing</a></li>
          <li><a href="/basic-concepts.html#validation" class="nolink">Validation</a></li>
        </ol>
      </li>
      <li>
        <a href="/about.html" class="nolink">About Veronica</a>
        <ol>
          <li><a href="/about.html#purpose-and-inspiration" class="nolink">Purpose & Inspiration</a></li>
          <li><a href="/about.html#the-author" class="nolink">The author</a></li>
          <li><a href="/about.html#contributing" class="nolink">Contributing</a></li>
        </ol>
      </li>
    </ol>
  </div>
</aside>