<aside id="left-pane">
  <img id="v" src="/static/images/logo/v.svg" alt="Veronica">
  <h2>Table of Contents</h2>
  <div id="table-of-contents">
    <ol>
      <li>Introduction</li>
      <li>Basic Concepts
        <ol>
          <li>The application structure</li>
          <li>The request pipeline</li>
          <li>Routing</li>
          <li>Validation</li>
        </ol>
      </li>
      <li>About Veronica
        <ol>
          <li>Purpose & Inspiration</li>
          <li>The author</li>
          <li>Contributing</li>
        </ol>
      </li>
    </ol>
  </div>
</aside>