@import '../palette.scss';

body {

  background-color: $black;
  color: $white;

}


#content {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 350px);

  h2, h3, h4, h5, h6 {

    color: $green;

  }

  a {

    color: inherit;

  }
  
  > h2 {
    
    font-weight: 400;
    font-size: 40px;
    margin: 30px 0;
    padding: 0 30px;
    
  }
  > h3 {
    
    font-weight: 400;
    font-size: 30px;
    margin: 22px 0;
    padding: 0 40px;
 
  }
  
  > p, > ul {
    
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    margin: 14px 0;
    padding: 0 50px;
    text-align: justify;

  }

  li {

    margin: 20px 10px;
    list-style: none;

    > h2, h3, h4, h5, h6 {

      display: inline;

    }

    &::before {
      
      content: '';
      display: inline-block;
      background-image: url('/static/images/green-bullet.svg');
      width: 12px;
      height: .8em;
      background-size: 8px;
      background-position: center;
      background-repeat: no-repeat;

    }


  }



}

@media (max-width: 1000px) {

  #content {

    width: 100%;

  }

}


@media (max-device-width: 600px) {

  #content {

    > p, > ul, > * {

      font-size: 40px;

    }

    > h2 {
      font-size: 70px;
      text-align: center;
    }

    > h3 {

      font-size: 50px;

    }

  }

}