@import 'palette.scss';

$font-body: 'Jost', Helvetica, sans-serif;
$font-header: 'Josefin Sans', Helvetica, sans-serif;
$font-code: 'Fira Code', monospace;

* {

  border: none;
  outline: none;
  padding: 0;
  margin: 0;

}

body {

  font-family: $font-body;
  
}

h1, h2, h3, h4, h5, h6 {

  font-family: $font-header;

}

body.night-mode .green {

  color: $green !important;

}

*::selection {

  background-color: $green;
  color: $white;

}

a.nolink {

  text-decoration: none;
  color: inherit;

  &:hover {

    text-decoration: underline;

  }

}