@import 'palette.scss';

* {

  border: none;
  outline: none;
  padding: 0;
  margin: 0;

}

body {

  font-family: 'Jost', Helvetica, sans-serif;
  
}

h1, h2, h3, h4, h5, h6 {

  font-family: 'Josefin Sans', Helvetica, sans-serif;

}

*::selection {

  background-color: $green;
  color: $white;

}

a.nolink {

  text-decoration: none;
  color: inherit;

  &:hover {

    text-decoration: underline;

  }

}
