@import '../palette.scss';

#disclaimer {

  > h2 {

    margin: 20px 0;
    color: $green;
    
  }
  
  text-align: center;
  padding: 0 50px;
  font-size: 24px;

  @media (max-device-width: 600px) {

    font-size: 40px;

  }
  
}



