@import '../palette.scss';

#hero {

  text-align: center;
  margin: 50px 0;
  
  > img {
    
    width: 400px;
    
  }

  > .subtitle {
    
    font-weight: 300;
    font-style: italic;
    margin: 20px 30px 00 30px;
    font-size: 28px;
    
    @media (max-device-width: 600px) {

      font-size: 44px;

    }

  }
  
}