<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Veronica Documentation</title>
  <link rel="icon" href="/static/images/logo/v-dark-on-green.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,300i,400,600,700&display=swap">
  <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/layouts/base.css">
  <link rel="stylesheet" href="/static/css/partials/left-pane.css">
  <link rel="stylesheet" href="/static/css/partials/footer.css">
  {% block head %}
  {% endblock %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85967130-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-85967130-4');
  </script>
</head>
<body>
  {% include "partials/left-pane.njk" %}
  <div id="content">
    {% block content %}
    {% endblock %}
    {% include "partials/footer.njk" %}
  </div>
</body>
</html>